/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  height: 100vh;
  padding-top: 20px; /* Add some padding from the top */
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-size: 2em;
}

.form-container {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: center; /* Align items vertically in the center */
  gap: 15px; /* Adds space between form elements */
  margin-bottom: 20px; /* Add some space between form and button */
}

.button-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px; /* Adjust this value to move the button lower */
}

.separator {
  width: 80%; /* Adjust the width as needed */
  border: 1px solid #ccc; /* Adjust the color and thickness as needed */
  margin-top: 5px; /* Add space between form and line */
}
